
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #34495E;
  font-family: 'Roboto', sans-serif;
}

form {

}

.container {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: 100px auto;
    width: 400px;
    padding: 40px;
    border: rgb(236, 236, 236) solid 2px;
    background-color: rgb(255, 255, 255);
}
input {
    display: block;
    background-color: rgb(240, 240, 240);
    width: 100%;
    border: none;
    font-size: 18px;
    margin: 20px auto;
    padding: 15px;
}

textarea {
    font-size: 18px;
    width: 100%;

    resize: none;
    margin: 20px auto;
    padding: 15px;
    border: none;
    display: block;
    background-color: rgb(240, 240, 240);
}

#body {
    height: 256px;
    font-size: 14px;
}

#title {

}

legend {
    margin: 0 auto;
    font-size: 26px;
}

button {
    background-color: #3498DB;
    border: none;
    color: white;
    display: block;
    width: 100%;
    font-size: 18px;
    margin: 20px auto;
    padding: 15px;
}

button:hover {
    background-color: #6bbdf4;
}

button:active {
    background-color: #b9ddf5;
}
